{% extends 'testblog/base.html'%}

{% block archive %}
 <header id="header">
  <a href="/">
      {% load static %}
      <div id="logo" style="background-image: url({% static '/images/favicon.ico' %});"></div>


    <div id="title">
      <h1>O Y S</h1>
    </div>
  </a>
  <div id="nav">
    <ul>
      <li class="icon">
        <a href="#"><i class="fa fa-bars fa-2x"></i></a>
      </li>

        <li><a href="/">Home</a></li>

        <li><a href="/about/">About</a></li>

        <li><a href="/archives/">Writing</a></li>

    </ul>
  </div>
</header>

<div id="archive">
  <ul class="post-list">
      {% for each in posts %}
      <li class="post-item">
        <div class="meta">
          <time datetime="{{ each.created_time }}" itemprop="datePublished">{{ each.created_time | date:"M d Y" }}</time>
        </div>
        <span>
          <a class="" href="{{ each.get_abs_url }}">{{ each.title }}</a>
        </span>
      </li>
      {% endfor %}
  </ul>
</div>

{% include 'testblog/partial/pagination.html' %}
{% endblock archive %}
